
<div class="container-fluid">

    <div class="row">
        <div class="col-12 my-header">
            <app-header></app-header>
        </div>
    </div>
   
    <div class="row">

        <div class="col-3 my-navbar">
            <app-navbar></app-navbar>
        </div>

        <div class="col-9 my-course-list">
            <!-- <app-course-list></app-course-list> -->
            <!-- <app-loginform></app-loginform> -->
            <!-- <app-registerform></app-registerform> -->
            <app-movie-list></app-movie-list>
        </div>
    </div>

</div>